<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MALT | Login</title>
<meta name="description" content="">

<!-- core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/prettyPhoto.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href=""                   rel="stylesheet">

<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<!--/head-->

<body>
<header id="header">
  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="index.html"><img src="https://mail.google.com/mail/u/0/?ui=2&ik=54930b8a29&view=fimg&th=14df80b1c4e0581b&attid=0.1&disp=inline&realattid=f_iay456df0&safe=1&attbid=ANGjdJ_99_Wj_JTHkbHJwJGStHIgtrZMqKWtO2oUlOVf4rqZTQkcgzcOJREBUWmJsAynenJZFSveX-BiIKIvJmeWvP5j1lbLTeGxI9MwDdR-ZBH8E-SR54PZP8mZkhc&ats=1434385729360&rm=14df80b1c4e0581b&zw&sz=w1256-h594" width="500" height="50"></a></div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/pages/about">About</a></li>
          <li><a href="/pages/services">Services</a></li>
          <li><a href="/pages/ourlab">Our Lab</a></li>
          <li><a href="/pages/pricing">Pricing</a></li>
          <li><a href="/pages/contact">Contact</a></li>
          <li><a href="/pages/login">Login</a></li>
        </ul>
      </div>
    </div>
    <!--/.container--> 
  </nav>
  <!--/nav--> 
  
</header>
<!--/header-->
<div class="color-border"> </div>
<section id="inner-page">
  <div class="container">
    <div class="center">
      <h2>Begin testing from anywhere.</h2>
      <p class="lead">In order to begin testing remotly you need to have or create an account.</p>
    </div>
    <!--/.row-->
      <div class="center">
        <h3>Login</h3>
        <p class="lead">Please fill in all the blanks in order to login.</p>
      </div>
    <div class="center">
      <form id="m=" class="login-form" name="login-form" method="get" action=" ">
        <div class="col-sm-5 col-sm-offset-1">
          <div class="form-group">
            <label>Email *</label>
            <input type="email" name="email" class="form-control" required="required">
          </div>
          <div class="form-group">
            <label>Password *</label>
            <input type="password" name="password" class="form-control" required="required">
          </div>
          <a href="dashboard.html"><button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Login</button></a> 
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
  <br><br>
</section>
<!--/#inner-page-->

<div class="color-border"> </div>
<footer id="footer" >
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Copyright &copy; Mobile App Testing Lab.</div>
      <div class="col-sm-6">
        <div class="follow-us"> <a class="fa fa-facebook social-icon" href="#"></a> <a class="fa fa-twitter social-icon" href="#"></a> <a class="fa fa-linkedin social-icon" href="#"></a> <a class="fa fa-google-plus social-icon" href="#"></a> </div>
      </div>
    </div>
  </div>
</footer>
<!--/#footer--> 


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
      <form id="">
          <div class="form-group">
            <label>First Name *</label>
            <input type="text" name="Fname" class="form-control" required="required">
          </div>
          <div class="form-group">
            <label>Last Name *</label>
            <input type="text" name="Lname" class="form-control" required="required">
          </div>
          <div class="form-group">
            <label>Email *</label>
            <input type="email" name="email" class="form-control" required="required">
          </div>
          <div class="form-group">
            <label>Password *</label>
            <input type="password" name="password" class="form-control" required="required">
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Create Account</button>
      </div>
    </div>
  </div>
</div>
<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.prettyPhoto.js"></script> 
<script src="js/jquery.isotope.min.js"></script> 
<script src="js/main.js"></script>
</body>
</html>
