<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MALT | Pricing</title>
<meta name="description" content="">

<!-- core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/prettyPhoto.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<!--/head-->

<body>
<header id="header">
  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="index.html">Logo</a></div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/pages/about">About</a></li>
          <li><a href="/pages/services">Services</a></li>
          <li><a href="/pages/ourlab">Our Lab</a></li>
          <li><a href="/pages/pricing">Pricing</a></li>
          <li><a href="/pages/contact">Contact</a></li>
          <li><a href="/pages/login">Login</a></li>
      </div>
    </div>
    <!--/.container--> 
  </nav>
  <!--/nav--> 
  
</header>
<!--/header-->
<div class="color-border"> </div>
<section id="inner-page">
  <div class="container">
    <div class="center">
      <h2>Our Pricing</h2>
      <p class="lead">In order to begin your testing you must choose a plan first. Once you choose your plan and your account is set up feel free to begin your testing at any time.</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Remote Control</h3>
          </div>
          <div class="panel-body">
            <div class="the-price">
              <h1> $249/month</h1>
            </div>
            <table class="table">
              <tr>
                <td>300 Tests</td>
              </tr>
              <tr class="active">
                <td>All devieces</td>
              </tr>
                <td>Remote Access</td>
            </table>
          </div>
          <div class="panel-footer"> <a href="login.html" class="btn btn-success" role="button">Begin Testing</a></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Visit</h2>
            </div>
          <div class="panel-body">
            <div class="the-price">
              <h1> $199/month </h1>
            </div>
            <table class="table">
              <tr>
                <td></td>
              </tr>
              <tr class="active">
                <td>250 Test*</td>
              </tr>
              <tr>
                <td>All devieces</td>
              </tr>
              <tr class="active">
                <td>At our location</td>
              </tr>
              <tr>
                <td>Manual testing included</td></tr>
              <tr  class="active">
                <td>Manual and automated tests can add up to 250 test.*</td></tr>
            </table>
          </div>
          <div class="panel-footer"> <a href="arrangeavisit.html" class="btn btn-success" role="button">Arrange a Visit</a></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Take Home</h3>
          </div>
          <div class="panel-body">
            <div class="the-price">
              <h1> $99/week</h1>
            </div>
            <table class="table">
              <tr>
                <td>5 devices</td>
              </tr>
              <tr class="active">
                <td>Option only avaliable locally(Puerto Rico).*</td>
              </tr>
            </table>
          </div>
          <div class="panel-footer"> <a href="rentdevices.html" class="btn btn-success" role="button">Set up an order</a></div>
        </div>
      </div>
    </div>
  </div>
  <!--/container--> 
</section>
<!--/pricing-page-->
<section id="get-started">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Plans don't work for you?</h2>
        <p>We try to make general plans but if you want to create your own plan, leave us a note and we can work something out with your needs.<br></p>
        <a href="contact-us.html" class="btn btn-primary">Contact us</a> </div>
    </div>
  </div>
  <!--/.container--> 
</section>
<!--/#get-started-->
<div class="color-border"> </div>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Copyright &copy; 2015 Mobile App Testing Lab.</div>
      <div class="col-sm-6">
        <div class="follow-us"> <a class="fa fa-facebook social-icon" href="#"></a> <a class="fa fa-twitter social-icon" href="#"></a> <a class="fa fa-linkedin social-icon" href="#"></a> <a class="fa fa-google-plus social-icon" href="#"></a> </div>
      </div>
    </div>
  </div>
</footer>
<!--/#footer--> 

<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.prettyPhoto.js"></script> 
<script src="js/jquery.isotope.min.js"></script> 
<script src="js/main.js"></script>
</body>
</html>
