<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MALT | Services</title>
<meta name="description" content="">

<!-- core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/prettyPhoto.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<!--/head-->

<body>
<header id="header">
  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <div class="circularLogo"></div></div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/pages/about">About</a></li>
          <li><a href="/pages/services">Services</a></li>
          <li><a href="/pages/ourlab">Our Lab</a></li>
          <li><a href="/pages/pricing">Pricing</a></li>
          <li><a href="/pages/contact">Contact</a></li>
          <li><a href="/pages/login">Login</a></li>
        </ul>
      </div>
    </div>
    <!--/.container--> 
  </nav>
  <!--/nav--> 
  
</header>
<!--/header-->
<div class="color-border"> </div>
<section id="inner-page">
  <div class="container">
    <div class="center">
      <h2>Our Services</h2>
      <p class="lead">We want to bring you to the closest expereicen that the users of your app wil encounter.</p>
    </div>
    <div class="row">
      <div class="features">
        <div class="col-md-4 col-sm-6">
          <div class="feature-wrap"> <i class="fa fa-laptop"></i>
            <h2>Remote Access</h2>
            <h3>We offer automated testing through our platform.</h3>
          </div>
        </div>
        <!--/.col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="feature-wrap"> <i class="fa fa-mobile"></i>
            <h2>At our Location</h2>
            <h3>You can come to our location, simply sign up online, show us that you have a membership and you will have access to the devices you wish to test.</h3>
          </div>
        </div>
        <!--/.col-md-4-->
        
        <div class="col-md-4 col-sm-6">
          <div class="feature-wrap"> <i class="fa fa-desktop"></i>
            <h2>For your company.</h2>
            <h3>You can rent a number of devices and take them to your company in order for you to be abel to test this devices at your premises.</h3>
          </div>
        </div>
        <!--/.col-md-4-->
        <!--/.col-md-4--> 
      </div>
      <!--/.services--> 
    </div>
    <!--/.row--> 
  </div>
  <!--/.container--> 
</section>
<!--/#inner-page-->
<section id="get-started">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Any Questions? Ask us, we are here to help</h2>
        <a href="contact-us.html" class="btn btn-primary">Contact us</a> </div>
    </div>
  </div>
  <!--/.container--> 
</section>
<!--/#get-started-->
<div class="color-border"> </div>
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Copyright &copy; 2015 Mobile App Testing Lab.</div>
      <div class="col-sm-6">
        <div class="follow-us"> <a class="fa fa-facebook social-icon" href="#"></a> <a class="fa fa-twitter social-icon" href="#"></a> <a class="fa fa-linkedin social-icon" href="#"></a> <a class="fa fa-google-plus social-icon" href="#"></a> </div>
      </div>
    </div>
  </div>
</footer>
<!--/#footer--> 

<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.isotope.min.js"></script> 
<script src="js/main.js"></script>
</body>
</html>
